{% extends "::base.html.twig"  %}
{% block title %}Add Group{% endblock %}


{%  block body %}

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Send</button>
        {{ form_end(form) }}

        <a href="{{ path('contactbook_groups_shownewgroupform') }}">Main Page</a>

    </div>
{% endblock %}