{% extends "::base.html.twig"  %}
{% block title %}All addresses {% endblock %}


{%  block body %}

    <div class="container">
        <h1>Addresses</h1>

        {% for address in addresses %}
            <div class="address">

                <p>City: {{ address.city }}</p>
                <p>Street: {{ address.street }}</p>
                <a href="{{ path('contactbook_address_deleteaddress', {'id': address.id}) }}">Delete</a><br>
                <hr>

            </div>
        {% else %}
            <p>Addresses not found!</p>
        {% endfor %}
    </div>
{% endblock %}