
<form action="{{ path('contactbook_contact_searchcontact') }}" method="POST">
    <label>Search by surname:</label>
    <input type="text" name="search">
    <input type="submit" value="Search" class="btn btn-primary">
</form>